*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    text-align: center;
}
#quiz{
    margin-top: 10%;
}
button{
    display: block;
    width: 350px;
    padding: 10px;
    border: none;
    border-radius: 10px;

}
.resposta{
    margin: auto auto;
    margin-bottom: 2%;
}
.errada{
    background: red;
    color: white;
}
.correta{
    background: green;
    color: white;
}
.resposta:hover{
    background-color: aqua;
}
.resposta.selecionada{
    background-color: rgb(153, 216, 216);
}
#confirmar{
    margin: auto auto;
    background: aqua;
    border: none;
    color: black;
    border-radius: 10px;
}
#confirmar:hover{
    background: rgb(40, 204, 204);
}